@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Guerrilla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a1d56;
  color: white;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.container h1 {
  font-size: 40px;
  font-weight: 500;
}

.container h1 span {
  color: #37b5b6;
  padding-bottom: 7px;
  border-bottom: 4px solid #37b5b6;
}

.display {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.display img {
  width: 40px;
  margin-right: 20px;
}
.display input {
  outline: none;
  border: none;
  font-size: 24px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37b5b6;
    border: none;
    border-radius: 5px;
    color: #0a1d56;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
}

button img{
    width: 40px;
    margin-right: 10px;
}